/* Styling specific to non-phone screens (will apply to tablets and regular computer screens */
@media only screen and (min-width:750px) {
    header h1 {
        color: white;
        font-size: 425%;
        line-height:.8;
    }

    nav {
        line-height: .75em;
    }

    nav ul {
        display: inline-block;
    }

    nav ul li {
        float: left;
    }

    h1 {
        line-height: .5em;
    }

    h2 {
        line-height: .75em;
    }

    .home img {
        float: right;
        padding-right: 10px;
        padding-bottom: 10px;
        max-width: 35vw;
        height: auto;
    }
    
    .home p {
        max-width: 45%;
    }
    
    .contact {
        text-align: right;
        float: left;
    }

    .contact input[type=submit] {
        width: 315px;
        float: right;
    }

    .contact input[type=text], input[type=email], textarea {
        width: 300px;
        resize: vertical;
    }
}

/* Styling only for desktop/laptop computers */
@media only screen and (min-width:811px) {
    section {
        margin-left: 16.5%;
        margin-right: 16.5%;
    }
}

/* Styling for tablets */
@media only screen and (max-width:811px) {
    .home img {
        float: right;
        padding-right: 0;
        max-width: 45vw;
        height: auto;
    }

    h2 {
        line-height:1em;
    }

    section {
        margin-left: 5%;
        margin-right: 5%;
    }

    section .home {
        margin: 0;
        padding: 10px;
    }
}

/* Styling just for phone screens */
@media only screen and (max-width:749px) {
    header h1 {
        color: white;
        font-size: 250%;
    }

    .home figure {
        float: inline-start;
        margin: 10px;
    }

    .home img {
        max-width: 100%;
        height: auto;
    }

    section {
        margin: 0;
        padding: 10px;
    }

    .contact input, .contact textarea {
        box-sizing: border-box;
        float: inline-start;
        width: 89vw;
    }
}

/* General styling that applies to all devices */

header {
    position: relative;
    background-color: #6495ed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

nav {
    text-align: center;
    width: 100%;
    background-color: dimgray;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display:block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

nav ul li a.active {
    background-color: gainsboro;
    color: dimgray;
}

nav ul li a:hover {
    background-color: white;
    color: dimgray;
}


nav ul li ul {
    display: none;
    position: absolute;
    background-color: dimgray;
    color: white;
}

nav ul li:hover ul {
    display: block;
}

body {
    margin: 0;
    background-color: #EEEEEE;
    line-height: 1.4;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.home ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.resume-head p {
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.resume-head b {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.resume h2 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.resume ul li {
    list-style-type: circle;
    font-size: 18px;
}

.resume ul ul li {
    list-style-type: square;
}

table, td, th { 
    padding: 5px;
    font-size: 18px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 4px solid black;
    width: 100%;
}

td, th {
    border: 2px solid black;
}

th {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 12.5%;
}

td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 87.5%;
}

.table-center {
    text-align: center;
}

.contact {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.contact label {
    padding-right: 25px;
}

.contact textarea {
    vertical-align: top;
    font-size: small;
}

.contact input[type=text], input[type=email], textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 5px;
    margin-bottom: 10px;
}

.contact input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}